<div *ngIf="!!responseApiTest">
    sss <br />
    <app-dynamic-child [componentData]="responseApiTest">
    </app-dynamic-child>
    sss <br />
</div>

<form [formGroup]="form" class="flex flex-col overflow-hidden">
    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
        <div class="gt-xs:max-w-80 gt-xs:pr-12">
            <p class="text-lg font-medium">Question</p>
            <p class="text-secondary mb-6">
                Define the context in which you want to search for the answer to your question
            </p>
        </div>
        <div class="flex-auto min-w-64">
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Context</mat-label>
                    <textarea matInput formControlName="context" class="h-40"></textarea>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Question</mat-label>
                    <input matInput formControlName="question">
                </mat-form-field>
            </div>
        </div>
    </div>

    <mat-divider class="mt-4 mb-12"></mat-divider>

    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
        <div class="gt-xs:max-w-80 gt-xs:pr-12">
            <p class="text-lg font-medium">Answer</p>
            <p class="text-secondary mb-6">
                The following answer was found in the context
            </p>
        </div>
        <div class="flex-auto min-w-64">
            <div class="flex text-3xl">{{ response }}</div>
        </div>
    </div>

    <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5">
        <button class="px-6 ml-3 text-lg" mat-flat-button [color]="'primary'" [class.spinner]="loading"
            [disabled]="loading" (click)="ask()">
            Ask question
        </button>
    </div>
</form>