<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="left">
            <h1>Services</h1>
            <h3>Find and Connect to thousands of services (ai models & algorithms)</h3>
        </div>

        <div class="right">
            <button class="mr-4" mat-flat-button color="primary" [routerLink]="['/services', 'create']">
                <mat-icon class="icon-size-18" svgIcon="add"></mat-icon>
                <span class="ml-2">Create service</span>
            </button>
        </div>
    </div>
    <div class="main">
        <div class="cards">
            <treo-card [class]="'card flex flex-col max-w-80 w-full filter-shopping'"
                *ngFor="let service of services$ | async" [routerLink]="['/services', 'detail', service.id]" matRipple
                matRippleColor="white">
                <div class="relative">
                    <img class="object-cover" [src]="service.image" *ngIf="service.image">
                </div>
                <div class="m-4 mb-0">
                    <div class="flex flex-col">
                        <div class="text-2xl leading-tight">{{ service.name }}</div>
                    </div>
                    <div *ngIf="service.description">
                        <hr class="border-b my-3">
                        <div class="flex items-center text-md">
                            {{ service.description }}
                        </div>
                    </div>
                    <div class="my-2 w-full flex justify-between items-center">
                        <div class="flex flex-col items-center">
                            <mat-icon>verified_user</mat-icon>
                        </div>
                    </div>
                </div>
            </treo-card>
        </div>
    </div>
</div>