<form [formGroup]="formGroup">
  <div formArrayName="headers" *ngFor="let item of formGroup.get('headers')['controls'];  let index = index; let count = count;">
    <div [formGroupName]="index" class="parentForm">
      <div class="grid grid-cols-4 gap-2">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let method of dataType" [value]="method.value">
              {{method.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Example value</mat-label>
          <input matInput formControlName="examplevalue" placeholder="">
        </mat-form-field>

        <div class="flex items-center">
          <button type="button" (click)="removeGroup(index)" mat-button [disabled]="count < 2">
            <mat-icon>delete</mat-icon> Delete header
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button type="button" (click)="addItem()" mat-button>
      <mat-icon>add</mat-icon> Add header
    </button>
  </div>
</form>