.styles_SmallArrow__i7hnM {
    width: 11px;
    height: 12px;
    transform-origin: center
}

.styles_left__1ypxR {
    transform: rotate(180deg)
}

.styles_down__U0Dhq {
    transform: rotate(90deg)
}

.styles_gray__1hLfy path {
    fill: #5e709d
}

.styles_white__2OKl_ path {
    fill: #fff
}

.styles_green__3qK4e path {
    fill: #13bb70
}

.styles_purple__TTVOU path {
    fill: #8c4bff
}

.styles_bay-blue__3YqxX path {
    fill: #1d1b84
}

.styles_current-color__yGi0Q path {
    fill: currentColor
}

.styles_LinksSection__2HgA5 {
    display: flex;
    flex-direction: column;
    width: 50%
}

.styles_LinksSection__2HgA5:not(:last-child) {
    padding-right: 40px
}

.styles_LinksSection__2HgA5 .styles_title__1WEuW {
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #5e709d
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC span {
    transition: color .3s ease
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC:last-child {
    margin-bottom: 0
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC a {
    text-decoration: none
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC:hover span {
    color: #8c4bff
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC:hover .styles_arrow__2HtUA {
    transform: translateX(5px)
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC:hover .styles_arrow__2HtUA path {
    fill: #8c4bff
}

.styles_LinksSection__2HgA5 .styles_link__2UhmC .styles_arrow__2HtUA {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1)
}

.styles_LinksSection__2HgA5 .styles_arrowLinks__3U_mK {
    margin-top: auto
}

.styles_Img__2JZ2e {
    opacity: 0;
    visibility: hidden
}

.styles_cover__iPq3e {
    object-fit: cover
}

.styles_contain__2jMbN {
    object-fit: contain
}

.styles_top__31h3_ {
    object-position: top
}

.styles_center__1laxx {
    object-position: center
}

.styles_left__1MPA8 {
    object-position: left
}

.styles_right__3Yujx {
    object-position: right
}

.styles_ratio__1y_8X {
    position: relative;
    width: 100%
}

.styles_img__1peOe,
.styles_ratio__1y_8X.styles_fluid__3DtuD {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.styles_ArrowLink__30wgu {
    text-decoration: none
}

.styles_ArrowLink__30wgu,
.styles_ArrowLink__30wgu .styles_container__37KUB {
    display: flex;
    align-items: center
}

.styles_ArrowLink__30wgu.styles_spread__1jYOU {
    width: 100%
}

.styles_ArrowLink__30wgu.styles_spread__1jYOU .styles_container__37KUB {
    width: 100%;
    justify-content: space-between
}

.styles_ArrowLink__30wgu.styles_isActive__dzJv2 .styles_icon__1xaT9,
.styles_ArrowLink__30wgu:hover .styles_icon__1xaT9 {
    transform: translateX(5px) translateZ(0)
}

.styles_ArrowLink__30wgu.styles_spreadMobileCenter__1OD08 {
    width: 100%
}

.styles_ArrowLink__30wgu.styles_spreadMobileCenter__1OD08 .styles_container__37KUB {
    width: 100%;
    justify-content: center;
    align-items: center
}

@media(min-width:992px) {
    .styles_ArrowLink__30wgu.styles_spreadMobileCenter__1OD08 .styles_container__37KUB {
        justify-content: space-between
    }
}

.styles_ArrowLink__30wgu.styles_reversed__3MsTn .styles_container__37KUB {
    flex-direction: row-reverse
}

.styles_ArrowLink__30wgu.styles_reversed__3MsTn .styles_icon__1xaT9 {
    margin-right: 14px;
    margin-left: 0;
    transform: scaleX(-1)
}

.styles_ArrowLink__30wgu.styles_reversed__3MsTn.styles_isActive__dzJv2 .styles_icon__1xaT9,
.styles_ArrowLink__30wgu.styles_reversed__3MsTn:hover .styles_icon__1xaT9 {
    transform: scaleX(-1) translateX(5px) translateZ(0)
}

.styles_icon__1xaT9 {
    margin-left: 14px;
    transition: transform .4s cubic-bezier(.19, 1, .22, 1);
    will-change: transform
}

.styles_Push__cWrnp {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
    max-width: 284px;
    width: auto;
    padding-bottom: 30px;
    text-decoration: none
}

.styles_Push__cWrnp+.styles_Push__cWrnp {
    display: none;
    margin-left: 20px
}

@media(min-width:1300px) {
    .styles_Push__cWrnp+.styles_Push__cWrnp {
        display: flex
    }
}

.styles_Push__cWrnp .styles_title__332D8 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: left
}

.styles_cover__DWgft {
    position: relative;
    overflow: hidden;
    border-radius: 10px
}

.styles_textContent__3fzMb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1
}

.styles_title__332D8 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: left
}

.styles_link__okDXK {
    margin-top: auto;
    text-decoration: none
}

.styles_Panel__2zJOT {
    position: absolute;
    top: 100%;
    left: -16px;
    width: calc(100% + 32px);
    visibility: hidden;
    opacity: 0;
    will-change: opacity, transform;
    cursor: default;
    transform: translateZ(1000px)
}

.styles_card__1HH4p {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -4px 30px -10px rgba(28, 27, 126, .15);
    border-radius: 20px;
    margin-top: 30px
}

.styles_cardBackground__3vDkU {
    will-change: transform;
    transform-origin: top;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 20px
}

.styles_linksWrapper__1LZ3Z {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
    flex: 1 1;
    position: relative
}

.styles_linkSections__2-yA2,
.styles_pushs__2vNAn {
    position: relative;
    display: flex;
    flex-direction: row
}

.styles_pushs__2vNAn {
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 40px
}

.styles_link__1Jn7U {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #5e709d
}

.styles_link__1Jn7U span {
    transition: color .3s ease
}

.styles_link__1Jn7U:last-child {
    margin-bottom: 0
}

.styles_link__1Jn7U a {
    text-decoration: none
}

.styles_link__1Jn7U:hover span {
    color: #8c4bff
}

.styles_link__1Jn7U:hover .styles_arrow__1y5E2 {
    transform: translateX(5px)
}

.styles_link__1Jn7U:hover .styles_arrow__1y5E2 path {
    fill: #8c4bff
}

.styles_link__1Jn7U .styles_arrow__1y5E2 {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1)
}

.styles_arrowLinks__3cn2t {
    margin-top: 40px
}



.styles_Logo__3ZwK8 {
    display: block
}

.styles_Logo__3ZwK8 .styles_img__2d7oy {
    display: block;
    width: 100%
}

.styles_PopIn__1FQKw {
    visibility: hidden;
    position: absolute;
    top: 24px;
    left: 24px;
    transform: translateZ(1000px);
    z-index: 999
}

.styles_HeaderBackground__2J9Dv {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #f2f4ff;
    box-sizing: border-box;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, .15);
    transition: opacity .1s linear;
    opacity: 0
}

.styles_HeaderBackground__2J9Dv.styles_hasScrolled__3Lalv {
    opacity: 1
}

.styles_HeaderBackground__2J9Dv.styles_hasStickyBar__tA_y_ {
    box-shadow: none
}

.styles_LogoPopin__sih0H {
    padding: 40px;
    width: 360px;
    background-color: #fff;
    border-radius: 14px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 15px 0 rgba(117, 141, 166, .2142)
}

.styles_closeIcon__2ejqC {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer
}

.styles_title__1igic {
    text-align: center;
    margin-bottom: 40px
}

.styles_image__39d_l {
    max-width: 190px;
    margin: 0 auto 40px
}

.styles_buttonsWrapper__21Ckp {
    display: flex;
    flex-direction: column;
    width: 100%
}

.styles_buttonsWrapper__21Ckp .styles_button__1el4-:last-child {
    margin-top: 13px
}

.styles_buttonsWrapper__21Ckp .styles_button__1el4- {
    display: block;
    width: 100%
}

.styles_Desktop__OD8YW {
    z-index: 1000;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transform: translateZ(1000px)
}

.styles_Desktop__OD8YW .styles_button__22Dp9 {
    display: none;
    white-space: nowrap;
    transition: background-color .1s linear, color .1s linear
}

@media(min-width:1200px) {
    .styles_Desktop__OD8YW .styles_button__22Dp9 {
        display: block
    }
}

.styles_Desktop__OD8YW .styles_githubBtn__1WtyI {
    display: none
}

@media(min-width:1300px) {
    .styles_Desktop__OD8YW .styles_githubBtn__1WtyI {
        display: flex;
        padding: 0 16px 0 0
    }
}

.styles_nav__24oec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 0;
    transform: translateZ(1000px)
}

.styles_logo__2Impd {
    display: block;
    width: 132px
}

.styles_links__34RXA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1;
    max-width: 1000px;
    margin: 0 auto
}

.styles_link__2hZzT {
    white-space: nowrap
}

.styles_panelsWrapper__PlLyD {
    position: absolute;
    top: calc(100% + 35px);
    left: 0;
    width: 100%
}

.styles_panelBackgroundWrapper__3MdWm {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    border-radius: 20px;
    transform: translateZ(-100px);
    visibility: hidden
}

.styles_panelBackgroundContainer__VODGe {
    position: absolute;
    width: calc(100% + 32px);
    top: 0;
    left: -16px;
    margin-top: 30px;
    border-radius: 20px;
    overflow: hidden
}

.styles_panelBackground__1CTlx {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 -8px 15px rgba(28, 27, 126, .1);
    overflow: hidden
}

.styles_panelBackgroundGradient__hezNT {
    left: 0;
    border-right: 1px solid #e7edf1;
    background: linear-gradient(269deg, #f9faff -5.1%, hsla(0, 0%, 100%, 0) 55.32%)
}

.styles_Overlay__8RQ5i {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 16px 20px 20px;
    z-index: 200;
    box-sizing: border-box;
    visibility: hidden;
    transform: translateZ(1000px);
    height: 100vh
}

@media(min-width:992px) {
    .styles_Overlay__8RQ5i {
        display: none
    }
}

.styles_container__1VfO4 {
    height: 100%;
    position: relative;
    padding: 21px 0 21px 27px;
    box-sizing: border-box
}

.styles_background__18IAG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08)
}

.styles_wrapper__lDdK1 {
    box-sizing: border-box;
    max-height: 100%;
    position: relative;
    overflow: auto
}

.styles_gradient__2MVXL {
    pointer-events: none;
    display: block;
    height: 27px;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    width: 100%
}

.styles_gradient__2MVXL.styles_topGradient__2nmB7 {
    top: 20px;
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0), #fff);
    z-index: 1
}

.styles_gradient__2MVXL.styles_bottomGradient__29IvS {
    bottom: 20px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
    top: unset
}

.styles_cross__3lDyE {
    position: absolute;
    right: 21px;
    top: 27px;
    z-index: 1;
    cursor: pointer
}

.styles_title__2oRDL {
    padding-bottom: 20px
}

.styles_title__2oRDL a {
    color: inherit;
    text-decoration: none
}

.styles_section__tWxoi:not(:first-child) {
    padding-top: 20px
}

.styles_section__tWxoi .styles_link__1CgtG {
    display: block;
    padding-bottom: 10px
}

.styles_section__tWxoi .styles_link__1CgtG a {
    color: inherit;
    text-decoration: none
}

.styles_Mobile__Pspog {
    display: flex;
    align-items: center;
    z-index: 100;
    height: 80px;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateZ(1000px)
}

.styles_overlay__1BPJx {
    position: fixed
}

.styles_logo__3n5Hx {
    width: 106px
}

.styles_burgerButton__3_5kP {
    width: 44px;
    height: 44px;
    padding: 0
}

.styles_burgerIcon__fjHFO {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 21px
}

.styles_dark__2XlGc .styles_burger__2WlKw rect {
    fill: #8c4bff
}

.styles_nav__2chWj {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.styles_largeScreenNav__9kX06,
.styles_smallScreenNav__2v8sY {
    position: fixed
}

.styles_largeScreenNav__9kX06.styles_hasStickyBar__2dRlX,
.styles_smallScreenNav__2v8sY.styles_hasStickyBar__2dRlX {
    height: 80px;
    position: relative
}

.styles_largeScreenNav__9kX06 {
    display: none
}

@media(min-width:992px) {
    .styles_largeScreenNav__9kX06 {
        display: block
    }

    .styles_smallScreenNav__2v8sY {
        display: none
    }
}

.styles_MenuColumnLink__16PCC:not(:last-child) {
    margin-bottom: 12px
}

.styles_link__1cbff {
    color: #5e709d
}

.styles_MenuColumn__2GuQl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 40px;
    box-sizing: border-box
}

.styles_MenuColumn__2GuQl .styles_sectionTitle__2wEts {
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase
}

.styles_MenuColumn__2GuQl:nth-child(odd) {
    padding-right: 20px
}

@media(min-width:992px) {
    .styles_MenuColumn__2GuQl {
        margin-bottom: 0;
        width: auto
    }
}

.styles_DesignStudio__Egmea {
    display: flex;
    align-items: flex-end
}

.styles_DesignStudio__Egmea .styles_logo__3aJBD {
    margin-left: 3px;
    max-width: 45px;
    max-height: 15px
}

.styles_IconLink__2QdfL {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    border-radius: 50%;
    width: 20px;
    height: 20px
}

.styles_SocialLinks__3hAOF {
    display: flex;
    align-items: center;
    flex: 0 1 auto
}

.styles_SocialLinks__3hAOF .styles_text__3LtSh {
    margin-right: 16px
}

.styles_FullWidthCTABanner__3bVZg {
    position: relative;
    padding: 175px 0 100px
}

@media(min-width:768px) {
    .styles_FullWidthCTABanner__3bVZg {
        padding: 175px 50px 100px
    }
}

.styles_background__3s4bX {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px
}

@media(min-width:992px) {
    .styles_background__3s4bX {
        width: 300px
    }
}

.styles_title__3kgAs {
    text-align: center
}

.styles_actions__3Uuxg {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 45px
}

@media(min-width:768px) {
    .styles_actions__3Uuxg {
        align-items: center;
        flex-direction: row
    }
}

.styles_button__1OPuL {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    transform: translateZ(1000px)
}

@media(min-width:768px) {
    .styles_button__1OPuL {
        width: auto;
        max-width: none;
        margin: 0
    }
}

.styles_button__1OPuL+.styles_button__1OPuL {
    margin-top: 20px
}

@media(min-width:768px) {
    .styles_button__1OPuL+.styles_button__1OPuL {
        margin-top: auto;
        margin-left: 40px
    }
}

.styles_button__1OPuL a {
    width: 100%;
    box-sizing: border-box
}

.styles_Footer__2uyP7 {
    margin-top: 84px;
    padding-bottom: 25px;
    background: linear-gradient(359.75deg, #f2f4ff -63.96%, #fff 55.16%)
}

@media(min-width:992px) {
    .styles_Footer__2uyP7 {
        padding-bottom: 60px
    }
}

.styles_content__3zgFt {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px
}

@media(min-width:768px) {
    .styles_content__3zgFt {
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 265px
    }
}

.styles_leftContent__-13Pz {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 1
}

.styles_leftContent__-13Pz .styles_logo__3Wtms {
    flex: 1 0 auto;
    display: block;
    width: 120px
}

.styles_leftContent__-13Pz .styles_logo__3Wtms img {
    width: 100%
}

.styles_leftContent__-13Pz .styles_tagline__rXOd3 {
    margin-left: 40px
}

@media(min-width:768px) {
    .styles_leftContent__-13Pz {
        flex-direction: column;
        padding-right: 75px
    }

    .styles_leftContent__-13Pz .styles_tagline__rXOd3 {
        margin-left: auto;
        margin-top: 40px
    }
}

.styles_navigation__3QaKY {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1;
    margin-top: 40px
}

@media(min-width:768px) {
    .styles_navigation__3QaKY {
        margin-top: 0;
        flex: 4 1
    }
}

@media(min-width:992px) {
    .styles_navigation__3QaKY {
        flex-wrap: nowrap
    }
}

.styles_legals__oZBy1 {
    display: flex;
    width: 100%;
    border-top: 1px solid #e7edf1;
    padding-top: 30px;
    justify-content: space-between;
    overflow: hidden
}

.styles_subLinks__KmUXH {
    display: flex;
    flex-direction: column;
    flex: 1 1
}

@media(min-width:992px) {
    .styles_subLinks__KmUXH {
        flex-direction: row
    }
}

.styles_subLink__2wvm- {
    text-decoration: none
}

@media(min-width:992px) {
    .styles_subLink__2wvm- {
        margin-right: 30px
    }

    .styles_subLink__2wvm-:last-child {
        margin-right: 0
    }
}

.styles_Page__2qHTf {
    width: 100%;
    min-height: 120vh;
    position: relative
}

.styles_PrideMonthBanner__F3dEg {
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #000, #926e64 11%, #ffb6e6 22%, #a3deff 33%, #fff 44%, red 55%, #ffe462 66%, #0acf83 77%, #1abcfe 88%, #a259ff)
}

// a,
// abbr,
// acronym,
// address,
// applet,
// article,
// aside,
// audio,
// b,
// big,
// blockquote,
// body,
// canvas,
// caption,
// center,
// cite,
// code,
// dd,
// del,
// details,
// dfn,
// div,
// dl,
// dt,
// em,
// embed,
// fieldset,
// figcaption,
// figure,
// footer,
// form,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// header,
// hgroup,
// html,
// i,
// iframe,
// img,
// ins,
// kbd,
// label,
// legend,
// li,
// main,
// mark,
// menu,
// nav,
// object,
// ol,
// output,
// p,
// pre,
// q,
// ruby,
// s,
// samp,
// section,
// small,
// span,
// strike,
// strong,
// sub,
// summary,
// sup,
// table,
// tbody,
// td,
// tfoot,
// th,
// thead,
// time,
// tr,
// tt,
// u,
// ul,
// var,
// video {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     font-size: 100%;
//     font: inherit;
//     vertical-align: baseline
// }

// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// main,
// menu,
// nav,
// section {
//     display: block
// }

// [hidden] {
//     display: none
// }

// body {
//     line-height: 1
// }

// menu,
// ol,
// ul {
//     list-style: none
// }

// blockquote,
// q {
//     quotes: none
// }

// blockquote:after,
// blockquote:before,
// q:after,
// q:before {
//     content: "";
//     content: none
// }

// table {
//     border-collapse: collapse;
//     border-spacing: 0
// }

// #CybotCookiebotDialog a,
// #CybotCookiebotDialogBodyContentControls,
// #CybotCookiebotDialogBodyContentTitle,
// #CybotCookiebotDialog div {
//     font-family: Poppins, sans-serif !important;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale
// }

// #CybotCookiebotDialog {
//     width: 90% !important;
//     border: none !important;
//     box-shadow: 0 4px 40px rgba(51, 49, 49, .15) !important;
//     left: 50% !important;
//     top: auto !important;
//     bottom: 40px !important;
//     transform: translateX(-50%) translateZ(1000px) !important;
//     margin: auto !important;
//     border-radius: 6px !important;
//     padding: 20px !important;
//     box-sizing: border-box !important;
//     max-width: 590px !important
// }

// @media(min-width:768px) {
//     #CybotCookiebotDialog {
//         width: auto !important;
//         left: 50px !important;
//         transform: translateX(0) translateZ(1000px) !important;
//         padding: 32px !important
//     }
// }

// #CybotCookiebotDialogBody {
//     border: none !important;
//     max-width: 590px !important;
//     font-family: Poppins, sans-serif !important;
//     width: 100% !important;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     position: relative !important;
//     padding: 0 !important
// }

// #CybotCookiebotDialogPoweredbyLink {
//     margin: 0 !important;
//     right: 0 !important;
//     top: 0 !important
// }

// #CybotCookiebotDialogBodyButtons,
// #CybotCookiebotDialogBodyContent {
//     padding: 0 !important;
//     width: 100% !important
// }

// #CybotCookiebotDialogBodyContent {
//     max-width: 465px !important
// }

// @media(min-width:768px) {
//     #CybotCookiebotDialogBodyButtons {
//         max-width: 465px !important
//     }
// }

// #CybotCookiebotDialogBodyContentTitle {
//     font-size: 21px !important;
//     color: #1d1b84 !important;
//     margin-bottom: 12px !important
// }

// #CybotCookiebotDialogBodyContentText {
//     font-size: 13px !important;
//     color: #5e709d !important;
//     line-height: 18px !important;
//     margin-bottom: 24px !important;
//     width: 90% !important
// }

// @media(min-width:768px) {
//     #CybotCookiebotDialogBodyContentText {
//         width: 100% !important;
//         padding-right: 60px !important;
//         box-sizing: border-box !important
//     }
// }

// #CybotCookiebotDialogBodyButtonAccept,
// #CybotCookiebotDialogBodyButtonDecline,
// #CybotCookiebotDialogBodyButtons {
//     margin: 0 !important
// }

// #CybotCookiebotDialogBodyButtons {
//     display: flex !important;
//     flex-direction: column !important;
//     align-items: center !important
// }

// @media(min-width:768px) {
//     #CybotCookiebotDialogBodyButtons {
//         flex-direction: row !important
//     }
// }

// #CybotCookiebotDialogPoweredbyImage {
//     width: 30px !important;
//     display: block !important;
//     margin: 0 0 0 auto !important
// }

// @media(min-width:768px) {
//     #CybotCookiebotDialogPoweredbyImage {
//         width: 40px !important
//     }
// }

// #CybotCookiebotDialogBodyButtonAccept,
// #CybotCookiebotDialogBodyButtonDecline {
//     display: block !important;
//     width: 100% !important;
//     padding: 10px 16px !important;
//     box-sizing: border-box !important;
//     border-radius: 4px !important;
//     font-size: 13px !important;
//     font-weight: 500 !important
// }

// #CybotCookiebotDialogBodyButtonAccept {
//     background-color: #8c4bff !important;
//     color: #fff !important;
//     border: none !important;
//     margin-top: 6px !important
// }

// @media(min-width:768px) {
//     #CybotCookiebotDialogBodyButtonAccept {
//         margin-left: 6px !important;
//         margin-top: 0 !important
//     }
// }

// #CybotCookiebotDialogBodyButtonDecline {
//     border: 1px solid #8c4bff !important;
//     background-color: transparent !important;
//     color: #8c4bff !important
// }

// #CybotCookiebotDialogBodyButtonDetails {
//     display: none !important
// }

// #hubspot-messages-iframe-container {
//     transform: translateZ(1000px)
// }

// #cb-container {
//     transform: translateZ(1001px)
// }

// #cb-master-frame {
//     display: none !important
// }

.styles_App__l6aJ_ {
    font-family: Poppins, sans-serif;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



// .styles_ResourceCenter__2lcRj .styles_ResourceWrapper__1gHn7 {
//     z-index: 0
// }

// .styles_ResourceCenter__2lcRj .styles_Resources__2IgJv {
//     display: flex;
//     align-items: flex-start;
//     pointer-events: none
// }

// .styles_ResourceCenter__2lcRj .styles_resourceNavigation__1xMdH {
//     display: none;
//     pointer-events: auto
// }

// @media(min-width:1200px) {
//     .styles_ResourceCenter__2lcRj .styles_resourceNavigation__1xMdH {
//         display: block
//     }
// }

// .styles_ResourceCenter__2lcRj .styles_resourceCenterWrapper__3LQPX {
//     flex: 1 1;
//     position: relative;
//     z-index: -1;
//     pointer-events: auto
// }

// .styles_ResourceCenter__2lcRj .styles_resourceCenterWrapper__3LQPX>:first-child {
//     margin-top: 46px
// }

// @media(min-width:1200px) {
//     .styles_ResourceCenter__2lcRj .styles_resourceCenterWrapper__3LQPX {
//         flex: 0 1 auto;
//         margin-left: 60px
//     }
// }
