.themes_white__22kAN {
    color: #fff
}

.themes_gray__rNovr {
    color: #344b80
}

.themes_bay-blue__339Mw {
    color: #1d1b84
}

.themes_blue__2cmdy {
    color: #00b6c8
}

.themes_green__2mZbB {
    color: #13bb70
}

.themes_purple__2jb4m {
    color: #8c4bff
}

.themes_blue-haze__9waJi {
    color: #c8cee1
}


.themes_dark__3hjQG {
    color: #1d1b84
}

.typography_Title__15mGG {
    font-family: Poppins, serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 140%
}

@media(min-width:992px) {
    .typography_Title__15mGG {
        font-size: 33px;
        line-height: 56px
    }
}

.typography_Title__15mGG.typography_extra-large__1taZ4 {
    font-size: 43px
}

@media(min-width:992px) {
    .typography_Title__15mGG.typography_extra-large__1taZ4 {
        font-size: 53px
    }
}

.typography_Title__15mGG.typography_large__TBB8X {
    font-size: 33px;
    line-height: 1.19
}

@media(min-width:992px) {
    .typography_Title__15mGG.typography_large__TBB8X {
        font-size: 43px
    }
}

.typography_Title__15mGG.typography_small__wcwpx {
    font-size: 17px;
    font-weight: 600;
    line-height: 30px
}

@media(min-width:992px) {
    .typography_Title__15mGG.typography_small__wcwpx {
        font-size: 21px
    }
}

.typography_Title__15mGG.typography_smaller__2CuhM {
    font-size: 17px;
    line-height: 1.5
}

.typography_Text__21fWd {
    font-family: Poppins, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px
}

@media(min-width:992px) {
    .typography_Text__21fWd {
        font-size: 17px
    }
}

.typography_Text__21fWd.typography_big__2HjNu {
    font-size: 17px;
    line-height: 1.5
}

@media(min-width:992px) {
    .typography_Text__21fWd.typography_big__2HjNu {
        font-size: 21px
    }
}

.typography_Text__21fWd.typography_medium__Q--Rb {
    font-size: 17px;
    line-height: 1.5
}

@media(min-width:992px) {
    .typography_Text__21fWd.typography_medium__Q--Rb {
        font-size: 17px
    }
}

.typography_Text__21fWd.typography_small__wcwpx {
    font-size: 18px;
    line-height: 22px
}

.typography_Text__21fWd.typography_smaller__2CuhM {
    font-size: 13px;
    line-height: 19px
}

@media(min-width:992px) {
    .typography_Text__21fWd.typography_smaller__2CuhM {
        font-size: 13px
    }
}

.typography_Text__21fWd.typography_extra-small__2vfcP {
    font-size: 12px;
    line-height: 19px
}

.typography_Text__21fWd.typography_legend__12cYE {
    font-size: 11px;
    line-height: 18px
}

.typography_Label__1knAy {
    font-family: Poppins, serif;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700
}

@media(min-width:992px) {
    .typography_Label__1knAy {
        font-size: 13px
    }
}

.typography_Label__1knAy.typography_large__TBB8X {
    font-size: 17px
}


.typography_FooterLink__TNGH_ {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    text-decoration: none
}

.typography_Button__3B09N {
    font-family: Poppins, serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1
}

.styles_Img__AIplatform_footer {
    opacity: 0;
    visibility: hidden
}

.styles_cover__iPq3e {
    object-fit: cover
}

.styles_contain__AIplatform_footer {
    object-fit: contain
}


.styles_center__AI_platform {
    object-position: center
}

.styles_left__1MPA8 {
    object-position: left
}

.styles_ratio__1y_8X {
    position: relative;
    width: 100%
}

.styles_img__AIplatform_footer_1,
.styles_ratio__1y_8X.styles_fluid__3DtuD {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.styles_wrapper__ucHyy {
    width: 83.3333333333%;
    max-width: 1200px;
    z-index: 1
}

.styles_innerWrapper__18waN,
.styles_wrapper__ucHyy {
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.styles_innerWrapper__18waN {
    max-width: 980px
}

@media(min-width:992px) {
    .styles_innerWrapper__18waN {
        width: 85.5%
    }
}

.styles_mobileInnerWrapper__34pIE {
    width: 81.6666666667%
}

.styles_maxWidth__4Sa58 {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto
}

.styles_buttonContainer__3V0Xl {
    display: inline-block
}

.styles_buttonContainer__3V0Xl .styles_button__1CLx_ {
    background-color: transparent
}

.styles_buttonContainer__3V0Xl.styles_withFocus__18Wrs .styles_background__2gXxd {
    border: 1px solid #5857a2
}

.styles_buttonContainer__3V0Xl.styles_fullWidth__2VF-2 {
    width: 100%
}

.styles_button__1CLx_ {
    position: relative;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    transform: translateZ(900px)
}

@media(min-width:768px) {
    .styles_button__1CLx_ {
        width: auto
    }
}

.styles_button__1CLx_.styles_disabled__3fRF1 {
    opacity: .5;
    pointer-events: none
}

.styles_button__1CLx_.styles_fullWidth__2VF-2 {
    display: block
}

.styles_hoverCircle__Nns-N {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .1)
}

.styles_buttonLink__2SP9n {
    color: inherit;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    padding: 18px 40px;
    border: none;
    text-decoration: none;
    text-align: center;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transform: translateZ(1000px)
}

.styles_buttonLink__2SP9n.styles_disabled__3fRF1 {
    opacity: .5;
    pointer-events: none
}

.styles_background__2gXxd,
.styles_shadow__3eyWi {
    border-radius: 8px
}

.styles_background__2gXxd {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border .2s ease;
    box-sizing: border-box
}

.styles_background__2gXxd,
.styles_shadow__3eyWi {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px rgba(26, 26, 67, .1)
}

.styles_shadow__3eyWi {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%)
}

.styles_purple__3tT7k {
    background-color: #8c4bff;
    color: #fff
}

.styles_yellow__o5JbT {
    background-color: #fee895;
    color: #1e1d80
}


.styles_white__5wklN {
    background-color: #fff;
    color: #1d1b84
}

.styles_hasScrolled__3Lalv .styles_white__5wklN{
    color: #ffffff;
    background-color: #8c4bff!important;
}

.styles_gray__1r7Jg {
    background-color: #fff;
    color: #5e709d
}

.styles_LabelTitleText__1RD_E {
    /* opacity: 0; */
    width: 100%
}

.styles_LabelTitleText__1RD_E.styles_center__2_RcD,
.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_label__1ilIC,
.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_link__1DK_H,
.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_text__E23BU,
.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_title__1TzMX {
    text-align: center
}

.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_label__1ilIC,
.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_text__E23BU,
.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_title__1TzMX {
    margin-left: auto;
    margin-right: auto
}

.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_text__E23BU {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto
}

.styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_links__Ud9_O {
    justify-content: center
}

.styles_LabelTitleText__1RD_E.styles_small__9boGe .styles_title__1TzMX {
    margin-bottom: 12px
}

.styles_LabelTitleText__1RD_E.styles_small__9boGe .styles_text__E23BU {
    margin-bottom: 39px
}

.styles_LabelTitleText__1RD_E.styles_ctaBanner__GkDO6 .styles_title__1TzMX {
    margin-bottom: 24px
}

.styles_LabelTitleText__1RD_E.styles_ctaBanner__GkDO6 .styles_text__E23BU {
    margin-bottom: 40px
}

.styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_label__1ilIC,
.styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_link__1DK_H,
.styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_text__E23BU,
.styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_title__1TzMX {
    text-align: center
}

@media(min-width:992px) {

    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_label__1ilIC,
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_link__1DK_H,
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_text__E23BU,
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_title__1TzMX {
        text-align: left
    }
}

.styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_links__Ud9_O {
    justify-content: center
}

@media(min-width:992px) {
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_links__Ud9_O {
        justify-content: flex-start
    }
}

.styles_label__1ilIC,
.styles_text__E23BU,
.styles_title__1TzMX {
    text-align: left;
    transform: translateZ(1000px)
}

.styles_label__1ilIC {
    margin-bottom: 40px
}

.styles_title__1TzMX {
    position: relative;
    margin-bottom: 35px
}

.styles_button__yOgzu,
.styles_word__2432z {
    opacity: 0;
    will-change: opacity, transform
}

.styles_titleContainer__2TSrx {
    position: relative
}

.styles_text__E23BU {
    padding: 0 6px;
    margin-bottom: 57px
}

@media(min-width:992px) {
    .styles_text__E23BU {
        padding: 0
    }
}

.styles_label__1ilIC:last-child,
.styles_links__Ud9_O:last-child,
.styles_text__E23BU:last-child,
.styles_title__1TzMX:last-child {
    margin-bottom: 0
}

.styles_links__Ud9_O {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    flex-direction: column
}

@media(min-width:992px) {
    .styles_links__Ud9_O {
        flex-wrap: wrap;
        flex-direction: row
    }
}

.styles_links__Ud9_O .styles_alignUnderButton__2HS_5 {
    flex-basis: 100%;
    margin-top: 25px
}

@media(min-width:992px) {
    .styles_links__Ud9_O .styles_alignUnderButton__2HS_5 {
        margin-top: 35px
    }
}

.styles_links__Ud9_O .styles_alignUnderButton__2HS_5 .styles_smallTextWithLink__3NQn- {
    display: inline-block;
    width: auto
}

.styles_button__yOgzu {
    width: 100%
}

@media(min-width:768px) {
    .styles_button__yOgzu {
        width: auto
    }
}

.styles_link__1DK_H {
    margin: 0 auto 15px 0;
    width: 100%
}

@media(min-width:992px) {
    .styles_link__1DK_H {
        width: auto;
        margin-right: 35px;
        margin-bottom: 0
    }

    .styles_link__1DK_H:last-child {
        margin-right: 0;
        margin-bottom: 0
    }
}

.styles_Tetris__A7E2C {
    display: block;
    width: 60px;
    height: 60px
}

@media(min-width:992px) {
    .styles_Tetris__A7E2C {
        width: 90px;
        height: 90px
    }
}

.styles_Tetris__A7E2C.styles_purple__esQYx [class$=tetris-dark-path] {
    fill: #7c32ff
}

.styles_Tetris__A7E2C.styles_purple__esQYx [class$=tetris-light-path] {
    fill: #8c4bff
}

.styles_Tetris__A7E2C.styles_yellow__2UAIU [class$=tetris-dark-path] {
    fill: #fedd62
}

.styles_Tetris__A7E2C.styles_yellow__2UAIU [class$=tetris-light-path] {
    fill: #fee895
}

.styles_Tetris__A7E2C.styles_blue__3GNt6 [class$=tetris-dark-path] {
    fill: #00accd
}

.styles_Tetris__A7E2C.styles_blue__3GNt6 [class$=tetris-light-path] {
    fill: #80ebff
}

.styles_Tetris__A7E2C.styles_green__3aVBV [class$=tetris-dark-path] {
    fill: #0e8d54
}

.styles_Tetris__A7E2C.styles_green__3aVBV [class$=tetris-light-path] {
    fill: #13bb70
}

.styles_Tetris__A7E2C.styles_white__15UW5 [class$=tetris-dark-path] {
    fill: hsla(0, 0%, 100%, .5)
}

.styles_Tetris__A7E2C.styles_white__15UW5 [class$=tetris-light-path] {
    fill: hsla(0, 0%, 100%, .8)
}

.styles_svg__uLEPr {
    width: 100%;
    height: 100%
}

.styles_wrapper__huNlp {
    padding: 135px 0 105px
}

.styles_decoration__2E9oD {
    position: absolute;
    top: 0
}

.styles_decoration__2E9oD.styles_bottom__1_KAP {
    top: inherit;
    bottom: 0
}

.styles_gradient__3EIr5.styles_fullWidth__1y3NB {
    max-width: none
}

.styles_gradient__3EIr5.styles_fullWidth__1y3NB .styles_wrapper__huNlp {
    max-width: none;
    width: 100%
}

.styles_gradient__3EIr5.styles_fullWidth__1y3NB .styles_subWrapper__22Mzw {
    position: static
}

.styles_gradient-left__165a5 .styles_decoration__2E9oD {
    transform: translate(-33.3333333333%, -33.3333333333%);
    left: 0
}

.styles_gradient-left__165a5 .styles_wrapper__huNlp {
    background: linear-gradient(165deg, #ebf4fd, hsla(0, 0%, 100%, 0) 45%)
}

.styles_wrapper__huNlp {
    padding: 70px 0 60px;
    box-sizing: border-box;
    background: #ebf4fd;
    background: linear-gradient(190deg, #ebf4fd, hsla(0, 0%, 100%, 0) 45%)
}

@media(min-width:992px) {
    .styles_wrapper__huNlp {
        padding: 135px 0 105px
    }
}

.styles_gradient-right__2o2Bn .styles_decoration__2E9oD {
    right: 0;
    transform: translate(33.3333333333%, -33.3333333333%)
}

.styles_gradient-center__2bccJ .styles_wrapper__huNlp {
    border-top: 1px solid #e1edf6;
    background: linear-gradient(181.6deg, #f7fbfe .74%, #fff 76.68%)
}

.styles_footer__1UMS5 .styles_wrapper__huNlp {
    background: linear-gradient(180deg, #ebf4fd, hsla(0, 0%, 100%, 0) 600px, hsla(0, 0%, 100%, 0) 80%, #ebf4fd)
}

@media(min-width:992px) {
    .styles_footer__1UMS5 .styles_wrapper__huNlp {
        background: linear-gradient(180deg, #ebf4fd, hsla(0, 0%, 100%, 0) 10%, hsla(0, 0%, 100%, 0) 80%, #ebf4fd)
    }
}

.styles_GradientHeaderWithIntro__16cyA.styles_fullWidth__3PiuZ {
    max-width: none
}

.styles_GradientHeaderWithIntro__16cyA .styles_intro__Pr2AL {
    max-width: 690px;
    margin: 0 auto 60px
}

.styles_GradientHeaderWithIntro__16cyA .styles_intro__Pr2AL.styles_withGradient__3vqrU {
    margin: auto
}

.styles_GradientHeaderWithIntro__16cyA .styles_intro__Pr2AL.styles_alignLeft__IMNop {
    margin: 0 0 60px
}

.styles_ClientLogo__snWLD {
    position: relative;
    margin: 15px 20px;
    width: 90%;
    max-width: 90px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    display: block
}

.styles_ClientLogo__snWLD.styles_animateOnHover__31wPF:hover .styles_greyLogo__2KBWX {
    opacity: 0
}

.styles_ClientLogo__snWLD.styles_animateOnHover__31wPF:hover .styles_coloredLogo__3G9e7 {
    opacity: 1
}

@media(min-width:992px) {
    .styles_ClientLogo__snWLD {
        max-width: 120px;
        height: 27px
    }
}

.styles_logo__2M4tI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .1s linear
}

.styles_greyLogo__2KBWX {
    opacity: 1
}

.styles_coloredLogo__3G9e7 {
    opacity: 0
}

.styles_coloredLogo__3G9e7.styles_coloredOnly__RMQjk {
    opacity: 1
}

.styles_LogosList__1fFj0 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%
}

@media(min-width:992px) {
    .styles_LogosList__1fFj0 {
        flex-direction: row
    }
}

.styles_Logos__1O4Oh {
    z-index: 10;
    position: relative;
    width: 100%;
    padding: 25px 0
}

@media(min-width:992px) {
    .styles_Logos__1O4Oh {
        padding: 110px 0 20px
    }
}

.styles_EmbedTweet__3eD9n iframe {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08);
    border-radius: 15px
}

.styles_twitterBadge__3Xuc1 {
    position: relative;
    display: block;
    width: 166px;
    margin: 40px auto auto
}

.styles_IconTitleText__XKeI- {
    opacity: 0
}

.styles_IconTitleText__XKeI- .styles_container__3msuH {
    display: flex;
    align-items: center;
    perspective: 1000px
}

.styles_IconTitleText__XKeI- .styles_iconContainer__1E8C8,
.styles_IconTitleText__XKeI- .styles_title__3wZnX {
    margin-bottom: 0
}

.styles_IconTitleText__XKeI- .styles_title__3wZnX {
    margin-bottom: 16px
}

.styles_IconTitleText__XKeI- .styles_icon__XLNsI {
    width: 100%;
    height: auto
}

.styles_IconTitleText__XKeI- .styles_iconContainer__1E8C8 {
    margin-right: 25px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    margin-top: 21px;
    perspective: 1000px
}

.styles_IconTitleText__XKeI- .styles_iconWrapper__1Qo2K {
    width: 100%;
    height: 100%
}

.styles_IconTitleText__XKeI- .styles_textWrapper__1UhCI {
    margin-right: 20px
}

@media(min-width:992px) {
    .styles_IconTitleText__XKeI- .styles_iconContainer__1E8C8 {
        margin-right: 36px
    }

    .styles_IconTitleText__XKeI- .styles_textWrapper__1UhCI {
        margin-left: 74px;
        margin-right: 0
    }

    .styles_IconTitleText__XKeI-.styles_column__O1TXR .styles_container__3msuH {
        align-items: flex-start;
        flex-direction: column
    }

    .styles_IconTitleText__XKeI-.styles_column__O1TXR .styles_iconContainer__1E8C8 {
        margin-right: 0
    }

    .styles_IconTitleText__XKeI-.styles_column__O1TXR .styles_textWrapper__1UhCI {
        margin-left: 0
    }
}

.styles_features__39yHa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 93px
}

@media(min-width:992px) {
    .styles_features__39yHa {
        flex-direction: row;
        margin-left: -60px;
        margin-right: -60px
    }
}

.styles_item__2qm4_ {
    padding: 35px 0;
    border-bottom: 1px solid #e7edf1
}

.styles_item__2qm4_:last-child {
    border-bottom: 0;
    margin-bottom: 0
}

@media(min-width:992px) {
    .styles_item__2qm4_ {
        border: none;
        padding: 0 60px;
        margin-bottom: 70px;
        box-sizing: border-box;
        width: 50%
    }
}

.styles_AnimatedBackground__2nkKL {
    z-index: 10;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform
}

@media(min-width:992px) {
    .styles_AnimatedBackground__2nkKL {
        display: block
    }
}

.styles_wrapper__NuY1r {
    perspective: 1800px;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    margin: 0;
    height: 100vh
}

@media(min-width:1441px) {
    .styles_wrapper__NuY1r {
        overflow: visible
    }
}

.styles_assetsWrapper__1iUTF {
    position: relative;
    will-change: transform;
    width: 50%;
    transform-origin: center top;
    transform: rotateY(15deg) rotateX(10deg)
}

.styles_assetsWrapper__1iUTF .styles_background__1XTa5 {
    z-index: 0;
    position: relative;
    width: 115%
}

.styles_secondaryAssetsWrapper__qmLLk {
    z-index: 1;
    position: absolute;
    bottom: -30%;
    left: 30%;
    width: 80%;
    height: 100%;
    will-change: transform;
    perspective: 800px
}

.styles_secondaryAssetsWrapper__qmLLk .styles_secondary__5sOkC {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    will-change: transform
}

.styles_secondaryAssetsWrapper__qmLLk .styles_secondary__5sOkC img {
    display: block;
    width: 100%;
    height: auto
}

.styles_Author__1L6by {
    display: flex;
    align-items: center
}

.styles_Author__1L6by.styles_small__3qQTy .styles_image__1Q2zx {
    width: 32px;
    height: 32px;
    margin-right: 12px
}

.styles_image__1Q2zx {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 18px;
    border-radius: 50%
}

@media(min-width:992px) {
    .styles_image__1Q2zx {
        width: 56px;
        height: 56px
    }
}

.styles_SmallArrow__i7hnM {
    width: 11px;
    height: 12px;
    transform-origin: center
}


.styles_gray__1hLfy path {
    fill: #5e709d
}

.styles_green__3qK4e path {
    fill: #13bb70
}


.styles_current-color__yGi0Q path {
    fill: currentColor
}

.styles_ArrowLink__30wgu {
    text-decoration: none
}

.styles_ArrowLink__30wgu,
.styles_ArrowLink__30wgu .styles_container__37KUB {
    display: flex;
    align-items: center
}

.styles_ArrowLink__30wgu.styles_spread__1jYOU {
    width: 100%
}

.styles_ArrowLink__30wgu.styles_spread__1jYOU .styles_container__37KUB {
    width: 100%;
    justify-content: space-between
}

.styles_ArrowLink__30wgu.styles_isActive__dzJv2 .styles_icon__1xaT9,
.styles_ArrowLink__30wgu:hover .styles_icon__1xaT9 {
    transform: translateX(5px) translateZ(0)
}

.styles_ArrowLink__30wgu.styles_spreadMobileCenter__1OD08 {
    width: 100%
}

.styles_ArrowLink__30wgu.styles_spreadMobileCenter__1OD08 .styles_container__37KUB {
    width: 100%;
    justify-content: center;
    align-items: center
}

@media(min-width:992px) {
    .styles_ArrowLink__30wgu.styles_spreadMobileCenter__1OD08 .styles_container__37KUB {
        justify-content: space-between
    }
}

.styles_ArrowLink__30wgu.styles_reversed__3MsTn .styles_container__37KUB {
    flex-direction: row-reverse
}

.styles_ArrowLink__30wgu.styles_reversed__3MsTn .styles_icon__1xaT9 {
    margin-right: 14px;
    margin-left: 0;
    transform: scaleX(-1)
}

.styles_ArrowLink__30wgu.styles_reversed__3MsTn.styles_isActive__dzJv2 .styles_icon__1xaT9,
.styles_ArrowLink__30wgu.styles_reversed__3MsTn:hover .styles_icon__1xaT9 {
    transform: scaleX(-1) translateX(5px) translateZ(0)
}

.styles_icon__1xaT9 {
    margin-left: 14px;
    transition: transform .4s cubic-bezier(.19, 1, .22, 1);
    will-change: transform
}

.styles_stepContent__1BKH_ {
    perspective: 1000px;
    line-height: 1.5;
    opacity: 0
}

.styles_stepNumber__3Xz_3 {
    font-family: Poppins, serif;
    font-weight: 500;
    color: #f6b73e
}

.styles_title__26BDq {
    margin-top: 48px
}

.styles_description__3cEn9 {
    margin-top: 40px
}

.styles_line__23nJJ {
    opacity: 0;
    will-change: opacity, transform
}

.styles_Step__3YNVF {
    z-index: 0;
    position: relative;
    width: 100%;
    perspective: 800px;
    padding-bottom: 80px;
    overflow: hidden
}

.styles_Step__3YNVF+.styles_Step__3YNVF {
    margin-top: 20px
}

@media(min-width:992px) {
    .styles_Step__3YNVF+.styles_Step__3YNVF {
        margin-top: 0
    }

    .styles_Step__3YNVF {
        padding-bottom: 0
    }
}

.styles_wrapper__1bRPE {
    display: flex;
    flex-direction: column
}

@media(min-width:992px) {
    .styles_wrapper__1bRPE {
        flex-direction: row;
        align-items: center;
        min-height: 100vh
    }
}

.styles_content__2FgaX {
    z-index: 1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 45px
}

@media(min-width:992px) {
    .styles_content__2FgaX {
        width: 40%;
        padding: 200px 45px
    }

    .styles_contentRight__aPwA4 .styles_wrapper__1bRPE {
        flex-direction: row-reverse
    }
}

.styles_assets__3Yf8r {
    z-index: 10;
    position: relative;
    width: 100%;
    margin: 40px auto 0
}

.styles_assets__3Yf8r .styles_image__36h_m {
    width: 100%
}

@media(min-width:992px) {
    .styles_assets__3Yf8r {
        display: none;
        width: 60%
    }
}

.styles_background__1yasl {
    position: absolute;
    padding-bottom: 80px;
    z-index: 0
}

@media(min-width:992px) {
    .styles_background__1yasl {
        top: 0;
        padding-bottom: 0;
        width: 100%;
        height: 100%
    }
}

.styles_background__1yasl .styles_group__33Tqw {
    will-change: transform
}

@media(min-width:992px) {
    .styles_background__1yasl .styles_group__33Tqw {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }
}

.styles_background__1yasl .styles_dots__2UYfQ {
    position: absolute
}

.styles_background__1yasl .styles_dots__2UYfQ,
.styles_background__1yasl .styles_triangle__11Gd- {
    transform-origin: center
}

@media(min-width:992px) {

    .styles_background__1yasl .styles_dots__2UYfQ,
    .styles_background__1yasl .styles_triangle__11Gd- {
        position: absolute
    }
}

.styles_background__1yasl.styles_type1__2pCk8 {
    bottom: 0;
    left: 0;
    width: 50%
}

.styles_background__1yasl.styles_type1__2pCk8 .styles_dots__2UYfQ {
    bottom: -15%;
    left: 5%;
    width: 30%
}

@media(min-width:992px) {
    .styles_background__1yasl.styles_type1__2pCk8 {
        width: 100%;
        height: 100%
    }

    .styles_background__1yasl.styles_type1__2pCk8 .styles_triangle__11Gd- {
        top: 0;
        margin-top: 0;
        width: 40%
    }

    .styles_background__1yasl.styles_type1__2pCk8 .styles_dots__2UYfQ {
        top: 2vw;
        padding-top: 40%;
        left: 2vw;
        width: 7%
    }
}

.styles_background__1yasl.styles_type2__3F-8h {
    bottom: 0;
    right: 0;
    width: 70%
}

.styles_background__1yasl.styles_type2__3F-8h .styles_triangle__11Gd- {
    transform: rotate(90deg)
}

.styles_background__1yasl.styles_type2__3F-8h .styles_dots__2UYfQ {
    transform: rotate(90deg);
    top: 10%;
    left: -20%;
    width: 25%
}

@media(min-width:992px) {
    .styles_background__1yasl.styles_type2__3F-8h {
        width: 100%;
        height: 100%
    }

    .styles_background__1yasl.styles_type2__3F-8h .styles_triangle__11Gd- {
        top: 25%;
        right: 0;
        width: 35%
    }

    .styles_background__1yasl.styles_type2__3F-8h .styles_dots__2UYfQ {
        left: auto;
        top: 29%;
        right: 34%;
        width: 6%
    }
}

.styles_background__1yasl.styles_type3__qc8tD {
    bottom: 0;
    left: 0;
    width: 65%
}

.styles_background__1yasl.styles_type3__qc8tD .styles_triangle__11Gd- {
    transform: rotate(90deg)
}

.styles_background__1yasl.styles_type3__qc8tD .styles_dots__2UYfQ {
    top: -12%;
    left: 5%;
    width: 25%;
    transform: rotateX(180deg) rotate(0deg)
}

@media(min-width:992px) {
    .styles_background__1yasl.styles_type3__qc8tD {
        width: 100%;
        height: 100%
    }

    .styles_background__1yasl.styles_type3__qc8tD .styles_triangle__11Gd- {
        top: 5%;
        width: 40%
    }

    .styles_background__1yasl.styles_type3__qc8tD .styles_dots__2UYfQ {
        top: 0;
        left: 3%;
        width: 7%
    }
}

.styles_background__1yasl.styles_type4__sVBH4 {
    bottom: 0;
    right: 0;
    width: 75%;
    transform: rotate(180deg)
}

.styles_background__1yasl.styles_type4__sVBH4 .styles_dots__2UYfQ {
    display: none
}

@media(min-width:992px) {
    .styles_background__1yasl.styles_type4__sVBH4 {
        width: 100%;
        height: 100%
    }

    .styles_background__1yasl.styles_type4__sVBH4 .styles_triangle__11Gd- {
        top: 25%;
        width: 25%;
        transform: rotate(90deg)
    }
}

.styles_background__1yasl.styles_type5__84wOO .styles_triangle__11Gd- {
    top: 15%;
    left: 0;
    width: 40%
}

.styles_background__1yasl.styles_type5__84wOO .styles_dots__2UYfQ {
    display: none
}

.styles_TriangleImage__3Z6rz {
    position: relative;
    overflow: hidden
}

.styles_TriangleImage__3Z6rz.styles_top-right__3VSMR {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%)
}

.styles_TriangleImage__3Z6rz.styles_top-left__2RlI9 {
    clip-path: polygon(100% 0, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 0 100%, 0 0)
}

.styles_TriangleImage__3Z6rz.styles_bottom-left__2wS1V {
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 0 0)
}

.styles_CardWithArrowLink__2vqCa {
    display: block;
    position: relative;
    width: 100%;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    list-style: none
}

.styles_CardWithArrowLink__2vqCa .styles_withLink__2s5Hl {
    cursor: pointer;
    outline: none
}

.styles_coverImage__1pDIa {
    width: 100%;
    transform: scale(1.04);
    will-change: transform
}

.styles_background__3JWQg {
    border-radius: 10px;
    background: #fff
}

.styles_background__3JWQg.styles_type1__Cbdq7 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08)
}

.styles_background__3JWQg.styles_type2__34v5e {
    box-shadow: 0 2px 10px 0 rgba(117, 141, 166, .2142)
}

.styles_background__3JWQg,
.styles_backgroundContainer__2PkOb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.styles_cardContainer__3yGHu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative
}

@media(min-width:768px) {
    .styles_cardContainer__3yGHu.styles_featured__3tM25 {
        flex-direction: row;
        border-radius: 0;
        box-shadow: none;
        overflow: inherit
    }

  

    .styles_cardContainer__3yGHu.styles_featured__3tM25 .styles_content__REy4i {
        flex: 1 1;
        flex-shrink: 0;
        margin: 10px 0
    }

    .styles_cardContainer__3yGHu.styles_featured__3tM25 .styles_title__cpNzd {
        font-size: 15px
    }
}

.styles_cardContent__1exJ4 {
    display: flex;
    flex: 1 1
}

.styles_arrowLink__2d2uI {
    transform-style: preserve-3d;
    transform: translateZ(1000px)
}

.styles_link__2XYRj {
    transform-style: preserve-3d;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 24px 22px 24px 35px;
    margin-top: auto;
    box-sizing: border-box
}

.styles_link__2XYRj .styles_line__75zfr {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e7edf1;
    top: 0;
    left: 0;
    display: block
}

@media(min-width:992px) {
    .styles_large__1LCJm .styles_link__2XYRj {
        padding: 30px 55px 30px 75px
    }
}

.styles_img__2Gk-b {
    width: 100%;
    height: 100%
}

.styles_CoverImage__2NtS5 {
    display: block;
    height: 100%
}

.styles_CoverImage__2NtS5,
.styles_Ratio__3CRRj {
    position: relative;
    width: 100%;
    overflow: hidden
}

.styles_children__1-hab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.styles_CardCover__1axIM {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #e7edf1
}

@media(min-width:768px) {
    .styles_featured__YNd2o {
        height: 100%
    }
}

.styles_duration__lNUnT {
    position: absolute;
    top: 12px;
    right: 15px;
    background-color: #1e1d80;
    z-index: 1;
    padding: 2px 8px;
    border-radius: 4px;
    box-sizing: border-box
}

.styles_Steps__1jaMu {
    position: relative
}

.styles_stepsWrapper__1ryT6 {
    margin: 0 auto 100px;
    width: 100%
}

@media(min-width:992px) {
    .styles_stepsWrapper__1ryT6 {
        margin: -20vh 0 0
    }
}


.styles_CardsGrid__2pV6O {
    width: 100%;
    margin: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 35px;
    justify-content: center;
    padding-bottom: 120px;
    position: relative;
    opacity: 0;
    transform: translateZ(0)
}

@media(min-width:768px) {
    .styles_CardsGrid__2pV6O {
        margin: 85px 0 0;
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(min-width:1200px) {
    .styles_CardsGrid__2pV6O {
        grid-template-columns: repeat(3, minmax(25%, 1fr))
    }
}

@media(min-width:768px) {
    .styles_CardsGrid__2pV6O.styles_singleColumnOnTablet__1CxJs {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media(min-width:992px) {
    .styles_CardsGrid__2pV6O.styles_singleColumnOnTablet__1CxJs {
        grid-template-columns: repeat(3, minmax(25%, 1fr))
    }
}

.styles_CardsGrid__2pV6O.styles_isList__3Xc-G {
    grid-gap: 24px
}

.styles_cardContainer__2gwcO {
    position: relative;
    display: flex;
    transform: translateZ(1000px);
    width: 100%
}


.styles_MultiSelect__331Sv {
    width: 100%;
    outline: none;
    display: inline-flex;
    z-index: 1
}

@media(min-width:768px) {
    .styles_MultiSelect__331Sv {
        width: auto;
        position: relative
    }
}

.styles_MultiSelect__331Sv.styles_isOpen__1jBPh .styles_list__3EnW7 {
    z-index: 1
}

.styles_MultiSelect__331Sv.styles_isOpen__1jBPh .styles_arrow__2ystB {
    position: relative
}

.styles_MultiSelect__331Sv.styles_isOpen__1jBPh .styles_arrow__2ystB path {
    fill: #1d1b84
}

.styles_MultiSelect__331Sv .styles_label__1edzn {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    text-overflow: ellipsis
}

.styles_MultiSelect__331Sv .styles_buttonContainer__1rAYf {
    width: 100%
}

@media(min-width:768px) {
    .styles_MultiSelect__331Sv .styles_buttonContainer__1rAYf {
        width: auto
    }
}

.styles_MultiSelect__331Sv .styles_buttonWrapper__TAxYH {
    width: 100%;
    border: 1px solid transparent
}

.styles_MultiSelect__331Sv .styles_button__39WQl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(26, 26, 67, .1);
    background-color: #fff;
    border-radius: 6px;
    background-color: transparent;
    box-shadow: none
}

.styles_MultiSelect__331Sv .styles_arrow__2ystB {
    width: 9px;
    margin-left: 28px
}

.styles_MultiSelect__331Sv .styles_arrow__2ystB path {
    transition: fill .15s linear
}

.styles_MultiSelect__331Sv .styles_list__3EnW7 {
    display: block;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 12px 8px;
    box-sizing: border-box;
    position: absolute;
    top: calc(100% + 10px);
    left: 0
}

.styles_MultiSelect__331Sv .styles_list__3EnW7 .styles_options__gsxu4 {
    max-height: 230px;
    overflow: auto
}

.styles_MultiSelect__331Sv .styles_list__3EnW7 li {
    white-space: nowrap
}

.styles_MultiSelect__331Sv .styles_list__3EnW7.styles_isOpen__1jBPh {
    z-index: 1
}

.styles_MultiSelect__331Sv .styles_listBackground__Ny6b3 {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px 0 rgba(117, 141, 166, .2142);
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden
}

.styles_MultiSelect__331Sv .styles_checkedOptions__2vhfS {
    display: flex;
    position: absolute;
    top: calc(100% + 10px);
    left: 0
}

.styles_MultiSelect__331Sv .styles_option__Z7-Pp {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 10px 8px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px
}

.styles_MultiSelect__331Sv .styles_option__Z7-Pp:focus {
    outline: none
}

.styles_MultiSelect__331Sv .styles_option__Z7-Pp:hover {
    outline: none;
    color: #1d1b84;
    background-color: #f5f8ff
}

.styles_MultiSelect__331Sv .styles_option__Z7-Pp:hover .styles_box__1O-Cg {
    background-color: #fff
}

.styles_MultiSelect__331Sv .styles_option__Z7-Pp.styles_checked__29SVv {
    outline: none;
    color: #1d1b84;
    background-color: #f5f8ff
}

.styles_MultiSelect__331Sv .styles_option__Z7-Pp.styles_checked__29SVv .styles_box__1O-Cg {
    background-color: #1d1b84;
    border: 1px solid #5857a2
}

.styles_MultiSelect__331Sv .styles_option__Z7-Pp.styles_checked__29SVv .styles_checkIcon__DfhJ7 {
    display: block
}

.styles_MultiSelect__331Sv .styles_box__1O-Cg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #b8c0d4;
    background-color: transparent;
    margin-right: 10px
}

.styles_MultiSelect__331Sv .styles_checkIcon__DfhJ7 {
    display: none
}

.styles_buttonContainer__1rP_U {
    text-align: center
}

.styles_button__1GlNg {
    display: inline-flex;
    align-items: center;
    transform: translateZ(1000px)
}

.styles_button__1GlNg,
.styles_button__1GlNg a,
.styles_button__1GlNg button {
    text-transform: uppercase
}

.styles_button__1GlNg .styles_smallArrow__25_zn {
    width: 10px;
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: -10px
}

.styles_button__1GlNg.styles_loading__3NwEo {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5
}

.styles_CirclePictureContent__UI4gq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 24px 32px;
    width: 100%
}

.styles_CirclePictureContent__UI4gq.styles_isList__2DsrV {
    align-items: flex-start;
    text-align: left
}

.styles_CirclePictureContent__UI4gq.styles_isList__2DsrV .styles_description__1rg1M {
    font-weight: 600
}

.styles_logo__iprDf {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 144px;
    max-height: 53px;
    margin-bottom: 24px;
    align-self: center
}

.styles_title__2fCDv {
    font-weight: 600
}

.styles_description__1rg1M {
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.styles_CirclePicture__fBJUL {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #5e709d
}

.styles_picture__3d46f {
    width: 100%
}

.styles_withShadow__2Zzms {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
}

.styles_CardsWithIntro__2agZa {
    padding-bottom: 90px
}

.styles_selectContainer__2222t {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center
}

.styles_container__2CkAp {
    padding: 135px 0 60px
}

.styles_wrapper__1sXXd {
    z-index: 0
}

.styles_Person__yfaW0 {
    display: flex;
    flex-direction: row;
    align-items: center
}

.styles_picture__1Ey6x {
    width: 65px;
    flex-shrink: 0;
    margin-right: 20px
}

.styles_content__2fglA {
    display: flex;
    flex-direction: column
}

.styles_infos__2CUFi .styles_name__1_8bS {
    font-weight: 700
}

.styles_infos__2CUFi .styles_jobCompany__svFIH {
    font-weight: 500
}

.styles_CustomerCardContent__1Oeos {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 35px
}

.styles_picture__5y0Xq {
    width: 50%;
    height: 40px;
    position: relative
}

.styles_text__TnsgG {
    width: 100%
}

.styles_text__TnsgG .styles_description__1zRf8,
.styles_text__TnsgG .styles_title__426v5 {
    margin-top: 30px;
    text-align: left
}

.styles_author__3Xq5h {
    margin-top: 20px
}


.styles_StackingCards__2Q6eK {
    margin-top: 135px
}

@media(min-width:992px) {
    .styles_contentWrapper__1gcy9 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between
    }
}

.styles_title__HrGF4 {
    margin-bottom: 82px
}

@media(min-width:992px) {
    .styles_title__HrGF4 {
        padding-right: 50px;
        margin-bottom: 0;
        position: sticky;
        top: 135px;
        max-width: 357px
    }
}

.styles_step__6dSYo {
    font-weight: 600
}


@media(min-width:992px) {
    .styles_cardsContainer__1Ji6l {
        width: 543px
    }
}


.styles_cardWrapper__1TPuG {
    box-sizing: border-box;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08);
    border-radius: 10px;
    background-color: #fff;
    padding: 33px 21px 16px
}

@media(min-width:992px) {
    .styles_cardWrapper__1TPuG {
        padding: 60px 68px
    }
}

.styles_FullWidthCardPush__3NDlz {
    z-index: 10;
    position: relative;
    width: 100%;
    margin-top: 84px
}

.styles_wrapper__2X_ji {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 25px;
    justify-content: center;
    box-sizing: content-box
}

@media(min-width:992px) {
    .styles_wrapper__2X_ji {
        box-sizing: border-box;
        padding: 50px 50px 125px 185px
    }
}




@keyframes styles_pop__RtCqg {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}


@media(min-width:992px) {

    .styles_extraFeaturesWrapper__1ebv8 {
        width: 100%
    }
}

.styles_image__3ltPl {
    width: 800px;
    margin-top: -200px;
    margin-right: -250px;
    z-index: 2
}

@media(min-width:992px) {
    .styles_image__3ltPl {
        position: absolute;
        left: 30%;
        top: 0;
        width: 1200px;
        margin-top: -100px;
        margin-left: 50px
    }
}


.styles_logo__1uUsv {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 144px;
    max-height: 53px;
    margin-bottom: 24px;
    align-self: center
}

.styles_title__18PFe {
    font-weight: 600
}

.styles_description__3-NEz {
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.styles_RelatedCards__34jib {
    position: relative;
    overflow: hidden;
    margin-top: 135px
}

.styles_wrapper__tcth5 {
    padding: 40px 0
}

.styles_title__1qWBy {
    margin-bottom: 80px;
    text-align: center
}



.styles_features__18_I7 {
    margin-bottom: 60px
}

.styles_separator__1lB27 {
    margin-bottom: 100px
}



@media(min-width:992px) {
    
    .styles_content__1o14x {
        padding-right: 50px
    }
}


.styles_title__3lkzM {
    margin-bottom: 17px
}

.styles_text__2YQR7 {
    margin-bottom: 32px
}

.styles_link__3AcTj {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 12px 16px;
    box-sizing: border-box;
    transition: all .2s ease-out
}

@media(min-width:480px) {
    .styles_link__3AcTj {
        display: inline-block
    }
}




.styles_content__1UZJm {
    margin-bottom: 90px
}

.styles_cardContainer__J4cOe {
    position: relative;
    display: flex;
    transform: translateZ(1000px);
    width: 100%
}

.styles_cardContainer__J4cOe:not(:last-child) {
    margin-bottom: 12px
}

.styles_card__1b2Cn {
    padding: 24px 0
}

.styles_ContentCard__PSnqp {
    max-width: 620px;
    margin: 0 auto 72px
}

.styles_label__2o0jV {
    display: block;
    margin-bottom: 18px
}

.styles_title__1tPtu {
    margin-bottom: 34px
}

.styles_cardContent__2yKus {
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .05);
    padding: 0 30px 60px
}

.styles_button__1VOQL {
    display: flex;
    justify-content: center;
    margin-top: 52px
}


.styles_grid__1ffkG {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 23px
}

@media(min-width:992px) {
    .styles_grid__1ffkG {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

.styles_intro__2y4gc {
    margin-bottom: 64px
}

.styles_dollarSign__mjU8P {
    display: inline
}


.styles_PlanCard__3-ZbA {
    display: flex;
    flex-direction: column;
    background-color: #f6fafe;
    border: 1px solid #eaf2fa;
    border-radius: 10px;
    padding: 24px 10px 40px;
    box-sizing: border-box;
    text-align: center;
    width: 100%
}

.styles_planTitle__1xkrM {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 17px;
    letter-spacing: .5px
}


.styles_grid__1vtJm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 23px
}

@media(min-width:992px) {
    .styles_grid__1vtJm {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}



.styles_infos__qAm5- {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 25px 45px
}

.styles_name__1c_Q3 {
    margin-left: 30px;
    font-size: 18px !important;
    line-height: 1.38;
    font-weight: 600
}


.styles_PlanTypeSelector__2C3Aa {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px
}

@media(min-width:768px) {
    .styles_PlanTypeSelector__2C3Aa {
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr
    }
}

.styles_Reviews__35wEV {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding-top: 30px
}

.styles_intro__2u3Fz {
    padding-bottom: 35px
}

.styles_slider__37gg4 {
    display: block
}

@media(min-width:992px) {
    .styles_slider__37gg4 {
        display: none
    }
}

.styles_noSlider__1qdKK {
    display: none
}

@media(min-width:992px) {
    .styles_noSlider__1qdKK {
        display: block
    }
}

.styles_background__3xPIu {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: auto;
    max-width: 680px
}

.styles_grid__2BZN4 {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr
}

.styles_grid__2BZN4 .styles_column__374lQ:nth-child(2) {
    margin-top: 40px
}

.styles_cardContainer__2tgYx {
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100vw;
    margin: 30px 0 40px
}

@media(min-width:992px) {
    .styles_cardContainer__2tgYx {
        width: 100%;
        max-width: inherit;
        margin: 0 0 24px
    }
}

.styles_card__2t4KB {
    width: 90%;
    max-width: 600px;
    margin: 0 auto
}

@media(min-width:992px) {
    .styles_card__2t4KB {
        width: 100%;
        max-width: none
    }
}

.styles_grid__RpOO- {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 23px
}

@media(min-width:992px) {
    .styles_grid__RpOO- {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

.styles_intro__1SAGQ {
    margin-bottom: 64px
}

.styles_icon__2GAai {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 72px;
    width: 72px;
    height: 72px;
    margin-right: 16px;
    position: relative
}

.styles_iconBackground__dOANP {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #f6fafe;
    border: 1px solid #eaf2fa;
    border-radius: 10px;
    z-index: -1
}

.styles_img__1hHhf {
    width: auto;
    max-width: 40px
}

.styles_textContent__2iWgg {
    flex: 1 1;
    padding-top: 4px
}

.styles_title__3ZUP9 {
    font-weight: 600;
    line-height: normal
}

.styles_text__3erv7 {
    margin-top: 4px
}

.styles_button__3ucj5 {
    display: block;
    margin-top: 32px
}


.styles_grid__2kLZU {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 23px
}

@media(min-width:768px) {
    .styles_grid__2kLZU {
        grid-template-columns: 1fr 1fr
    }
}

@media(min-width:992px) {
    .styles_grid__2kLZU {
        grid-template-columns: 1fr 1fr 1fr
    }
}

.styles_intro__2VA8w {
    margin-bottom: 64px
}



.styles_CardCover__DHSqP {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #e7edf1
}

@media(min-width:768px) {
    .styles_featured__2flIw {
        height: 100%
    }
}


.styles_titleContainer__2bwin {
    position: relative
}



@keyframes styles_arrowHover__IPxPA {
    0% {
        transform: translateZ(0)
    }

    50% {
        transform: translate3d(0, 20%, 0)
    }

    to {
        transform: translateZ(0)
    }
}



.styles_line__YAakb {
    opacity: 0;
    will-change: opacity, transform
}

.styles_imageWrapper__EYtyo,
.styles_textWrapper__3pKwk {
    width: 100%;
    box-sizing: border-box
}

.styles_imageWrapper__EYtyo {
    width: 35%;
    margin: 0 auto
}

.styles_imageWrapper__EYtyo .styles_image__24H0Q {
    width: 100%
}

@media(min-width:992px) {
    .styles_imageWrapper__EYtyo {
        flex: 1 0 auto;
        width: auto
    }
}

.styles_separator__2bTnN {
    margin-top: 16px
}

.styles_articles__Bymr3 {
    margin-top: 24px
}

@media(min-width:992px) {
    .styles_articles__Bymr3 {
        margin-top: 48px
    }
}


@keyframes styles_arrowHover__1KDBi {
    0% {
        transform: translateZ(0)
    }

    50% {
        transform: translate3d(20%, 0, 0)
    }

    to {
        transform: translateZ(0)
    }
}

.styles_cardLink__1qO5z {
    opacity: 0;
    text-decoration: none
}


.styles_Slider__2ioJV {
    position: relative;
    width: 100%;
    opacity: 0
}

.styles_itemsContainer__3ubV7 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.styles_itemsWrapper__3iI8o {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    will-change: transform
}


.styles_steps__2A_mF {
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin: 0 auto
}

.styles_steps__2A_mF .styles_step__22Zde {
    width: 13px;
    height: 5px;
    margin: 0 2px;
    background-color: rgba(146, 160, 196, .5);
    border-radius: 11px;
    cursor: pointer
}

.styles_steps__2A_mF .styles_step__22Zde.styles_isActive__1qnYT {
    background-color: #8c4bff
}


.styles_IconLink__2QdfL {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    border-radius: 50%;
    width: 20px;
    height: 20px
}

.styles_IconLink__2QdfL.styles_big__OYuA2 {
    width: 43px;
    height: 43px;
    background-color: #e7edf1
}

.styles_IconLink__2QdfL.styles_big__OYuA2 .styles_link__1-ery {
    max-width: 100%;
    max-height: 100%
}

.styles_IconLink__2QdfL.styles_big__OYuA2 .styles_hoverIconWrapper__AIplatfoem,
.styles_IconLink__2QdfL.styles_big__OYuA2 .styles_iconWrapper__vLdI5 {
    width: 23px;
    height: 23px
}

.styles_IconLink__2QdfL:last-child {
    margin-right: 0
}

.styles_link__1-ery {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20px;
    max-height: 20px
}

.styles_hoverIconWrapper__AIplatfoem,
.styles_iconWrapper__vLdI5 {
    width: 100%;
    height: 100%;
    will-change: opacity
}

.styles_hoverIconWrapper__AIplatfoem {
    position: absolute;
    top: 0;
    left: 0
}

.styles_icon__AIplatform {
    width: 100%;
    height: auto
}

.styles_Hero__2--Cf {
    position: relative;
    margin-bottom: 83px;
    transform: translateZ(0)
}

.styles_heroWrapper__2smhA {
    z-index: 1;
    position: relative;
    padding: 130px 0
}

@media(min-width:992px) {
    .styles_heroWrapper__2smhA {
        padding: 170px 0
    }
}

.styles_heroWrapper__2smhA h1 {
    max-width: 740px
}

.styles_text__2roOP {
    max-width: 400px
}


.styles_background__AMy92 {
    z-index: 0;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 95%;
    background-color: #1e1d80
}

@media(min-width:992px) {
    .styles_background__AMy92 {
        height: 100%
    }
}

.styles_background__AMy92 .styles_heroBackgroundTop__3wS7V {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 1024px
}

.styles_background__AMy92 .styles_heroBackgroundTop__3wS7V.styles_smallAssets__3m0uS {
    max-width: 680px
}

.styles_background__AMy92 .styles_heroBackgroundBottom__21C7N {
    z-index: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    max-width: 180px
}


.styles_assetWrapper__ow3S3 {
    z-index: 0;
    position: relative;
    margin-bottom: -70px;
    perspective: 1000px
}

@media(min-width:768px) {
    .styles_assetWrapper__ow3S3 {
        margin-bottom: 0
    }
}

.styles_assetWrapper__ow3S3 .styles_phone__3uSEj {
    overflow: hidden
}

.styles_assetWrapper__ow3S3 .styles_browserWindowContainer__2adqP {
    z-index: 1;
    position: relative;
    width: 118%;
    margin-top: 75px;
    margin-left: -12%;
    margin-bottom: -45%;
    overflow: hidden
}

@media(min-width:992px) {
    .styles_assetWrapper__ow3S3 .styles_browserWindowContainer__2adqP {
        overflow: visible
    }
}

.styles_assetWrapper__ow3S3 .styles_browserWindow__1nfDT,
.styles_assetWrapper__ow3S3 .styles_phone__3uSEj {
    width: 100%
}

.styles_assetWrapper__ow3S3 .styles_phoneContainer__ptpRS {
    z-index: 2;
    position: absolute;
    top: -5%;
    right: -20px;
    width: 40%
}

@media(min-width:992px) {
    .styles_assetWrapper__ow3S3 .styles_phoneContainer__ptpRS {
        right: -10.4%
    }
}


.styles_slice__3lIJ8 {
    margin-top: 84px
}
.styles_Tetris__A7E2C.styles_purple__esQYx [class$=tetris-light-path] {
    fill: #8c4bff;
}
