<div class="wrapper">
    <header class="py-12 xs:py-8 xs:border-b">
        <div class="flex">
            <!-- Logo -->
            <a class="flex flex-col items-center" href="/">
                LOGO
            </a>

            <!-- Nav -->
            <nav class="flex flex-col font-medium ml-auto xs:ml-0 xs:mt-8">
                <ul class="flex items-center xs:flex-col space-x-8 xs:space-x-0 xs:space-y-1">
                    <li><a class="link" href="/angular/demo/docs/guides/getting-started/introduction">Docs</a></li>
                    <li><a class="link" href="/angular/demo/docs/changelog">Changelog</a></li>
                    <li><a class="link" href="https://pulsethemes.ticksy.com">Support</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>