<div class=" ">

  <form [formGroup]="formName">

    <div formGroupName="body">
      <div class="grid grid-cols-4 gap-4">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Media type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let method of mediaType" [value]="method.value">
                {{method.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="typeOfForm==='delete'">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>payload name</mat-label>
          <input matInput formControlName="payloadName" placeholder="Ex. pat@example.com">
        </mat-form-field>
      </div>

      <div class="grid grid-cols-4 gap-4">


        <div>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>payload description</mat-label>
            <textarea matInput formControlName="payloadDesc" placeholder="Ex. pat@example.com">
            </textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>payload body</mat-label>
            <textarea matInput formControlName="payloadBody" placeholder="Ex. pat@example.com">
          </textarea>
          </mat-form-field>
        </div>

      </div>

    </div>


  </form>

  <!-- Exposed item name: {{ formName.controls.items.controls[0].controls.name.value }} -->

</div>