<form [formGroup]="formGroup">
  <div formGroupName="body">
    <mat-form-field class="w-full">
      <mat-label>Media type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let method of mediaType" [value]="method.value">
          {{method.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="typeOfForm==='delete'">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="">
      </mat-form-field>
    </div>

    <mat-form-field class="w-full">
      <mat-label>Body</mat-label>
      <textarea matInput formControlName="body" placeholder="" rows="6"></textarea>
    </mat-form-field>
  </div>
</form>