<div class="header">
    <div class="title">Delete solution?</div>
</div>

<form (ngSubmit)="saveAndClose()">
    <div class="actions">
        <mat-checkbox formControlName="deleteService">Delete service on kubernetes</mat-checkbox>
        <mat-checkbox formControlName="deleteRepository">Delete repository</mat-checkbox>

        <div class="buttons">
            <button mat-raised-button type="reset" (click)="close()">
                <mat-icon [svgIcon]="'reset'"></mat-icon>
                <span>No</span>
            </button>
            <button mat-raised-button color="warn" type="submit">
                <mat-icon [svgIcon]="'save'"></mat-icon>
                <span>Yes, delete</span>
            </button>
        </div>
    </div>
</form>