<div layout="row" layout-xs="column">

  <div flex>
    <carousel>
      <ng-container *ngFor="let item of items">
        <ng-container *carouselItem>
          <div class="item">{{ item.title }}</div>
        </ng-container>
      </ng-container>
    </carousel>
  </div>


  <div flex>
    <div class="submenus_main">

      <mat-tab-group>
        <mat-tab label="Who we are">
          <div class="tabContent">
            <p>
              We will try to format the layout completely. Right now, we don’t have a space that talks about who we are and our mission. I am putting an example below.
              <br/>  1.	Logo, clicking on it should help us to take it to the landing page
              <br/>    2.	Clicking on who we are, vision, mission will take us to the bottom of the Main Page.
              <br/>   3.	Solution will take to a new page where solutions are listed with descriptions 
              <br/>    4.	Services will take to a page where we can add services.
            </p>
            <p>
              <br/>
              A layout child's flex directive can be given an integer value from 0-100. The element will stretch to the
              percentage of available space matching the value. Currently, the flex directive value is restricted to
              multiples
              of five, 33 or 66.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Vision">
          <div class="tabContent">
            <p>
              A layout child's flex directive can be given an integer value from 0-100. The element will stretch to the
              percentage of available space matching the value. Currently, the flex directive value is restricted to
              multiples
              of five, 33 or 66.
            </p>
            <p>
              <br/>
              I'm below on mobile, and to the right on larger devices.

              A layout child's flex directive can be given an integer value from 0-100. The element will stretch to the
              percentage of available space matching the value. Currently, the flex directive value is restricted to
              multiples
              of five, 33 or 66.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Mission">
          <div class="tabContent">
            <p>
              A layout child's flex directive can be given an integer value from 0-100. The element will stretch to the
              percentage of available space matching the value. Currently, the flex directive value is restricted to
              multiples
              of five, 33 or 66.
              <br/>
            </p>
            <p>
              I'm below on mobile, and to the right on larger devices.

              A layout child's flex directive can be given an integer value from 0-100. The element will stretch to the
              percentage of available space matching the value. Currently, the flex directive value is restricted to
              multiples
              of five, 33 or 66.
            </p>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>

</div>