<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
            <h6>Collection of videos</h6>
        </div>
    </div>
    <div class="main">
        <h2>What is AICP?</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/dxrleEPFkwM" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
        <h2>How to create a service</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/dxrleEPFkwM" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
    </div>
</div>