<div class="flex flex-col max-w-240 md:min-w-160 -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Add service</div><button mat-icon-button=""
            class="mat-focus-indicator mat-icon-button mat-button-base" tabindex="-1"><span class="mat-button-wrapper">
                <mat-icon role="img" class="mat-icon notranslate text-current mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="x" data-mat-icon-namespace="heroicons_outline"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" fit=""
                        height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg></mat-icon>
            </span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
                class="mat-button-focus-overlay"></span></button>
    </div>
    <div class="main" style="padding: 20px;">
        
    <form [formGroup]="solutionServiceForm" (ngSubmit)="onSubmit($event)">
        <mat-form-field appearance="fill">
            <mat-label>Service</mat-label>
            <mat-select formControlName="serviceId">
                <mat-option *ngFor="let service of services$ | async" [value]="service.id">
                    {{service.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="actions">
            <div class="buttons">
                <button class="add-button" mat-stroked-button tabindex="1" type="submit">
                    <mat-icon [svgIcon]="'add'"></mat-icon>
                    <span>Add Service</span>
                </button>

                <button class="cancel-button" mat-stroked-button mat-dialog-close tabindex="-1">
                    <mat-icon [svgIcon]="'cancel'"></mat-icon>
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </form>
    </div>
</div>
