<div class="content-layout fullwidth-tabs-normal-scroll" *ngIf="service$ | async as service">
    <div class="header">
        <div class="left">
            <div class="breadcrumb">
                <a [routerLink]="['/services']" class="path">Services</a>
                <span class="separator">/</span>
                <h1>{{service.name}}</h1>
            </div>
        </div>

        <div class="right">
            <button mat-flat-button [routerLink]="['/services', 'edit', service.id]">
                <mat-icon class="icon-size-18" svgIcon="edit"></mat-icon>
                <span class="ml-2">Edit</span>
            </button>
            <button mat-flat-button (click)="openDeleteDialog()">
                <mat-icon class="icon-size-18" svgIcon="delete"></mat-icon>
                <span class="ml-2">Delete</span>
            </button>
        </div>

    </div>

    <div class="main">
       
        <mat-tab-group [@.disabled]="true">
            <mat-tab label="Overview">
                <service-detail-overview [service]="service"></service-detail-overview>
            </mat-tab>
            <mat-tab label="Definition">
                <service-detail-definition [service]="service"></service-detail-definition>
            </mat-tab>
            <mat-tab label="Testing">
                <service-endpoint [service]="service"></service-endpoint>
            </mat-tab>
            <mat-tab label="Analytics">
            </mat-tab>
        </mat-tab-group>
    </div>
</div>