<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="header">
        <div class="left">
            <h2>Create a new solution</h2>
            <p>Ready-to-use solutions including frontend, user management & preconfigured AI services.</p>
        </div>
    </div>

    <div class="main">
        <ul *ngIf="isLoading">
            <li *ngFor="let message of loadingMessages">{{message}}</li>
        </ul>
        <form [formGroup]="solutionForm" (ngSubmit)="onSubmit()" class="max-w-3xl" *ngIf="!isLoading">
            <div class="flex">
                <mat-form-field class="w-1/3 pr-4">
                    <mat-label><b>Solution owner</b></mat-label>
                    <mat-select placeholder="Select owner" formControlName="owner">
                        <mat-option [value]="owner.id" *ngFor="let owner of owners">{{owner.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-2/3 pl-4">
                    <mat-label><b>Solution name</b></mat-label>
                    <input matInput formControlName="name" required maxlength="250" type="text" [pattern]="namePattern"
                        onkeypress="return new RegExp(this.namePattern).test(event.key)">
                    <i>A-Z, a-z, 0-9 and -</i>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label><b>Solution template</b></mat-label>
                <mat-select placeholder="Choose from a template" formControlName="template">
                    <mat-option value="aicollaboration/solution-template-react">
                        <div class="flex">
                            <div class="w-1/3 pr-2">
                                <img src="assets/solutions/emilus.png" alt="emilus" class="w-full rounded">
                            </div>
                            <div class="w-2/3 pl-2">
                                <h3 class="m-0">Emilus (React)</h3>
                            </div>
                        </div>
                    </mat-option>
                    <mat-option value="aicollaboration/solution-template-react-typescript">
                        <div class="flex">
                            <div class="w-1/3 pr-2">
                                <img src="assets/solutions/fuse.jpeg" alt="emilus-typescript" class="w-full rounded">
                            </div>
                            <div class="w-2/3 pl-2">
                                <h3 class="m-0">Fuse (React)</h3>
                            </div>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description <span class="text-grey-600/25">(optional)</span></mat-label>
                <input matInput formControlName="description" maxlength="250">
            </mat-form-field>
            <hr />
            <mat-radio-group formControlName="visibility">
                <mat-radio-button value="public" class="py-2"><b>Public</b><br>Anyone on the internet can see this
                    solution. You choose who can access.</mat-radio-button><br>
                <mat-radio-button value="private" class="py-2"><b>Private</b><br>You choose who can see and access this
                    solution.</mat-radio-button>
            </mat-radio-group>
            <hr />

            <div class="flex">
                <div class="pr-4 mb-4">
                    <mat-icon style="font-size: 70px;">find_in_page</mat-icon>
                </div>
                <div class="pl-4">
                    Frontend:
                    https://{{solutionForm.value.name||'[name]'}}.{{solutionForm.value.owner||'[owner]'}}.aicollaboration.net
                    with {{solutionForm.value.visibility}} access<br />
                    Source code:
                    https://github.com/{{solutionForm.value.owner||'[owner]'}}/{{solutionForm.value.name||'[name]'}}<br /><br />
                </div>
            </div>
            <div class="actions">
                <div class="buttons">
                    <button class="save-button" mat-flat-button color="primary" type="submit"
                        [disabled]="!solutionForm.valid">
                        <mat-icon svgIcon="save"></mat-icon>
                        <span>Create solution</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>