<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="header">
        <div class="left">
            <h1>Create solution</h1>
        </div>
    </div>

    <div class="main">
        <form [formGroup]="solutionForm" (ngSubmit)="onSubmit()" class="max-w-3xl">
            <mat-form-field>
                <mat-label>Solution name</mat-label>
                <input matInput formControlName="name" required maxlength="250" type="text">
            </mat-form-field>
            
            <div class="actions">
                <div class="buttons">
                    <button class="save-button" mat-flat-button color="primary" type="submit">
                        <mat-icon [svgIcon]="'save'"></mat-icon>
                        <span>Create solution</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>