<div class="flex ">
  <form [formGroup]="formName">
    <div formArrayName="query" *ngFor="let item of formName.get('query')['controls']; let i = index; let l=last;">
      <div [formGroupName]="i" class="parentForm">

        <div class="grid grid-cols-4 gap-4">
         
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>name</mat-label>
            <input matInput formControlName="name" placeholder="Ex. pat@example.com">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let method of dataType" [value]="method.value">
                {{method.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>example value</mat-label>
            <input matInput formControlName="examplevalue" placeholder="Ex. pat@example.com">
          </mat-form-field>

          <div class="btnFormgroup">
            <div *ngIf="i!==0" class="danger">
              <button type="button" (click)="removeGroup(i)">X</button>
            </div>
            <div *ngIf="l" class="primary">
              <button type="button" (click)="addItem()">Add </button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </form>

  <!-- Exposed item name: {{ formName.controls.items.controls[0].controls.name.value }} -->

</div>