


<button (click)="createProject()" mat-button mat-stroked-button>Create project</button>



<!--
Gitlab {{gitlabIsConnected ? 'Yes' : 'No'}}
<button (click)="signInWithGitlab()" mat-button mat-stroked-button>
  Connect with Gitlab
</button>
<button (click)="signOutGitlab()" mat-button mat-stroked-button>
  Close connection to Gitlab
</button>

Github {{githubIsConnected ? 'Yes' : 'No'}}
<button (click)="signInWithGithub()" mat-button mat-stroked-button>
  Connect with Github
</button>
<button (click)="signOutGithub()" mat-button mat-stroked-button>
  Close connection to Github
</button>

<github-repositories [repositories]="repositories"></github-repositories>
-->