<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="left">
            <h2>Solutions <button class="icon-button" mat-icon-button (click)="toggleHelpContainer()">
                    <span class="avatar">
                        <mat-icon [svgIcon]="'help'"></mat-icon>
                    </span>
                </button></h2>
            <p>Ready-to-use solutions including frontend, user management & preconfigured AI services</p>
        </div>

        <div class="right">
            <button class="mr-4" mat-flat-button color="primary" [routerLink]="['/solutions', 'create']">
                <mat-icon class="icon-size-18" svgIcon="add"></mat-icon>
                <span class="ml-2">New solution</span>
            </button>
        </div>
    </div>
    <div class="main">
        <div *ngIf="errors$ | async as errors">
            <ul *ngIf="errors.length > 0">
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="cards">
            <treo-card class="card flex flex-col max-w-80 w-full" *ngFor="let solution of solutions">
                <div class="relative cursor-pointer" [routerLink]="['/solutions', 'detail', solution.id]" role="link">
                    <img class="object-cover" [src]="solution.file" *ngIf="solution.file">
                    <img class="object-cover" src="/assets/images/cases/churn_analytics.jpg" *ngIf="!solution.file">
                </div>
                <div class="m-4 mb-0">
                    <div class="flex flex-col">
                        <div class="text-2xl leading-tight">
                            <a [routerLink]="['/solutions', 'detail', solution.id]">
                                {{ solution.name }}
                            </a>
                        </div>
                    </div>
                    <div>
                        <hr class="border-b my-3">
                        <a [href]="'https://'+solution.name+'.'+solution.owner+'.aiproduct.io'" target="_blank"
                            class="ml-2">https://{{solution.name}}.{{solution.owner}}.aiproduct.io</a>
                    </div>
                    <div *ngIf="solution.description">
                        <hr class="border-b my-3">
                        <div class="flex items-center text-md">
                            {{ solution.description }}
                        </div>
                    </div>
                    <div class="my-2 w-full flex">
                    </div>
                </div>
            </treo-card>
        </div>

    </div>
</div>