@import 'treo';

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$is-dark: map-get($theme, is-dark);
}

.mat-select-panel {
	width: 200px;
}

solutions {
	.main {
		.cards {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			margin: 0 -16px;

			treo-card {
				margin: 16px;
				transition: 0.5s ease;

				&:hover {
					filter: brightness(95%);
				}
			}
		}
	}
}
