<div class="content-layout left-sidebar-content-standard-inner-scroll" *ngIf="solution">
    <div class="header">
        <div class="left">
            <div class="breadcrumb">
                <a [routerLink]="['/solutions']" class="path">Solutions</a>
                <span class="separator">/</span>
                <h1>{{ solution.name }}</h1>
            </div>
        </div>

        <div class="right">
            <button mat-flat-button class="add-button" color="secondary">
                <mat-icon class="icon-size-18" svgIcon="launch"></mat-icon>
                <a [href]="'https://github.com/'+solution.owner+'/'+solution.name" target="_blank" class="ml-2">Open
                    repository</a>
            </button>
            <button mat-flat-button class="add-button" color="primary">
                <mat-icon class="icon-size-18" svgIcon="launch"></mat-icon>
                <a [href]="'https://'+solution.name+'.'+solution.owner+'.aicollaboration.net'" target="_blank"
                    class="ml-2">Open frontend</a>
            </button>
        </div>
    </div>

    <mat-drawer-container>
        <mat-drawer [autoFocus]="false" mode="side" [opened]="true" class="sidebar-content" #matDrawer>
            <treo-vertical-navigation [navigation]="menuData" [inner]="true" [mode]="'side'"
                [name]="'demo-sidebar-navigation'" [opened]="true"></treo-vertical-navigation>
        </mat-drawer>
        <mat-drawer-content>
            <div class="main">
                <router-outlet *ngIf="true"></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>