<h2>Introduction to AI platform</h2>
<ul>
    <li>Learn about AI cloud solutions, products and services</li>
    <li>What is Artifical Intelligence</li>
</ul>

<h2>Getting Started with AI platform</h2>
Get started with easy-to-use free learning resources like tutorials, projects and more
<ul>
    <li>Getting Started Resource Center »</li>
</ul>

<h2>Training and Certification</h2>
Learn from AWS experts, advance your skills and knowledge, build your future in the AWS Cloud
<ul>
    <li>TWS Training</li>
    <li>TPN Partner Training</li>
    <li>TWS Certification</li>
    <li>TWS Academy</li>
</ul>

<h2>Developer center</h2>
SDKs, IDE Toolkits, and Command Line Tools for developing and managing your AWS applications
<ul>
    <li>Tools and SDKs</li>
    <li>Developer Community</li>
</ul>

<h2>The Amazon Builders' Library</h2>
<ul>
    <li>Learn how TOB builds and operates software from the builders themselves</li>
</ul>

<h2>Customer Success</h2>
Learn about how our customers are using AWS services to power innovation
<ul>
    <li>Success Stories and Case Studies</li>
</ul>

<h2>AWS Executive Insights</h2>
Inspiration for business leaders enabling innovation, transformation, and growth
https://aws.amazon.com/executive-insights/?nc2=h_ql_le_ex
<ul>
    <li>C-Suite: Strategy and Transformation »</li>
    <li> CFO: Finance and Investment »</li>
    <li> CHRO: Workforce Transformation »</li>
    <li> CISO: Security Leadership »</li>
</ul>