.example-full-width{
    width:250px;
}
.parentForm {
    display: flex
}
.btnFormgroup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.danger{
    padding: 10px;
}
.primary{
    padding: 10px;
}