<div *ngIf="api">
  <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
    <div class="gt-xs:max-w-80 gt-xs:pr-12">
      <p class="text-lg font-medium">Server</p>
      <p class="text-secondary mb-6">
        Please choose the server and path you want to connect with
      </p>
    </div>
    <div class="flex-auto min-w-64">
      <form [formGroup]="configForm" class="flex flex-row mt-4">
        <mat-form-field
          style="width: 50%; padding-right: 10px"
          *ngIf="api && api.servers"
        >
          <mat-label>Servers</mat-label>
          <mat-select matNativeControl [(value)]="selectedServer">
            <mat-option
              *ngFor="let server of api.servers"
              [value]="server.url"
              >{{ server.url }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field
          style="width: 50%; padding-left: 10px"
          *ngIf="api && api.paths"
        >
          <mat-label>Paths</mat-label>
          <mat-select matNativeControl [(value)]="selectedPath">
            <mat-option
              *ngFor="let path of api.paths"
              [value]="path.operationId"
              >{{ path.path }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>

  <mat-divider class="mt-4 mb-12"></mat-divider>

  <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
    <div class="gt-xs:max-w-80 gt-xs:pr-12">
      <p class="text-lg font-medium">Input</p>
      <p class="text-secondary mb-6">
        Define the context in which you want to search for the answer to your
        question
      </p>
      <p (click)="loadExample()">Load example</p>
    </div>
    <div class="flex-auto min-w-64">
      <div *ngIf="!!request">
        <form [formGroup]="form" class="flex flex-col overflow-hidden">
          <app-dynamic-child [componentData]="request" [form]="form">
          </app-dynamic-child>
        </form>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5">
    <button
      class="px-6 ml-3 text-lg"
      mat-flat-button
      [color]="'primary'"
      [class.spinner]="loading"
      [disabled]="loading"
      (click)="predict()"
    >
      Run
    </button>
  </div>
  <mat-divider class="mt-4 mb-12"></mat-divider>

  <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
    <div class="gt-xs:max-w-80 gt-xs:pr-12">
      <p class="text-lg font-medium">Output</p>
      <p class="text-secondary mb-6">
        The following answer was found in the context
      </p>
    </div>
    <div class="flex-auto min-w-64">
      <div class="flex text-3xl">
        <div *ngIf="!!response">
          <ngx-json-viewer [json]="response"></ngx-json-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!api">
  Api is not defined. Please define by <u><a [routerLink]="['/services', 'edit', service.id]">editing</a></u> this service
</div>