<div class="main">
    <div class="cards">
        <treo-card class="card flex flex-col max-w-64 w-full" *ngFor="let solutionService of solutionServices"
            [routerLink]="['/solutions', 'detail', solutionService.solution.id, 'services', solutionService.service.id]">
            <div class="relative">
                <img class="object-cover" [src]="solutionService.image" *ngIf="solutionService.image">
            </div>
            <div class="m-8 mb-0">
                <div class="flex flex-col">
                    <div class="text-2xl leading-tight">{{ solutionService.service.name }}</div>
                </div>
                <div class="flex items-center text-md" *ngIf="solutionService.service.description">
                    <hr class="border-b my-6">
                    {{ solutionService.service.description }}
                </div>
                <div class="mt-6 -mx-8">
                    <button
                        class="w-full rounded-t-none mat-focus-indicator w-full rounded-t-none mat-flat-button mat-button-base "
                        mat-flat-button color="secondary">Configure</button>
                </div>
            </div>
        </treo-card>
        <treo-card class="card flex flex-col max-w-64 w-full filter-shopping">
            <div class="-mx-8">
                <button
                    class="w-full rounded-t-none mat-focus-indicator w-full rounded-t-none mat-flat-button mat-button-base"
                    mat-flat-button color="secondary" (click)="addService($event)">Add service to solution</button>
            </div>
        </treo-card>
    </div>
</div>